yourname2.py
yourname.py
vampire2.py
vampire.py
swordfish.py
rpsGame.py
matem.py
infiniteloop.py
hello.py
guessthenumber.py
fivetimes.py
exitexample.py
abcdCallStack.py
helloFunc.py
helloFunc2.py
magic8ball.py
test.py
globalStatement.py
localGlobalSameName.py
samenameerror.py
samenamelocalglobal.py
zerodivide.py
zerodivide2.py

